{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Stages{% endblock %}

{% block contenu %}
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <h1>Stage ayant l'id : {{id}}</h1>
  </li>
  <li class="list-group-item">
    Titre : titre_du_stage
  </li>
  <li class="list-group-item">
    Entreprise :
    <ul>
        <li> Nom : </li>
        <li> Activite : </li>
        <li> Adresse : </li>
    </ul>
  </li>
  <li class="list-group-item">
    Description : La description...
  </li>
  <li class="list-group-item">
    Formations :
  </li>
  <li class="list-group-item">
    Mail de contact :
  </li>
</ul>
{% endblock %}
