<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Page
            {% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- BLOC DES FEUILLES DE STYLE -->
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% endblock %}

    </head>
    <body>
        <div class="container-fluid">
        <!-- BLOC DU SLIDER -->
        {% block slider %}

        {% endblock %}


        <!-- BLOC DU MENU -->
        {% block menu %}
        <div class="row">
          <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark fixed-top">

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="navbar-nav">
                  {% block navbar %}

                  {% endblock %}
                </ul>
              </div>
            </nav>
          </div>
        </div>
        {% endblock %}


        <!-- BLOC DU CONTENU -->
        {% block contenu %}
        <div class="row" style="margin-top:75px;">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                {% block titreContenu %}

                {% endblock %}
              </div>
              <div class="card-body">
                <table class="table table-sm table-striped">
                  {% block tableauValue %}

                  {% endblock %}
                </table>

                {% block nextTuple %}
                
                {% endblock %}


              </div>
            </div>
          </div>
        </div>
        {% endblock %}


        <!-- BLOC DU PIED DE PAGE -->
        {% block footer %}
        <div class="row" style="bottom:0; width: 100%; text-align:center;">
          <div class="col-md-4">
            <img alt="Bootstrap Image Preview" src="https://i1.wp.com/www.dutgea.com/wp-content/uploads/2015/09/Logo-IUT-Bayonne-Pays-Basque.jpg?resize=250%2C166" class="rounded-circle" />
          </div>
          <div class="col-md-4 align-self-center">
            <p class="text-secondary">
              Site destiné à l'apprentissage de l'utilisation de Symfony
            </p>
          </div>
          <div class="col-md-4 align-self-center">
            <p class="text-secondary">
              Développé par Mathieu BOCCIARELLI <BR>
              TD2 - TP3
            </p>
          </div>
        </div>
        {% endblock %}

        </div>


        <!-- BLOC JAVASCRIPT -->
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
